fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-openai
langchain-mongodb
langchain-text-splitters
langgraph==1.1.10
langgraph-checkpoint==2.1.2
langgraph-checkpoint-mongodb==0.2.1
pymongo==4.15.5
python-dotenv
python-multipart
docx2txt
pillow
langchain-ollama
python-pptx