fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-openai
langchain-mongodb
langchain-text-splitters
pymongo
python-dotenv
python-multipart
docx2txt
unstructured[pptx]
GitPython
unstructured
pillow
langfuse
langfuse-langchain
pytest
pytest-cov
langchain-ollama
